{% extends "templates/layouts/base.twig" %}

{% block content %}

    {% do action('woocommerce_before_single_product') %}
    <article itemscope itemtype="http://schema.org/Product" class="single-product-details vmw__single__product container pt-3 {{ post.class }}">
        <meta itemprop="url" content="{{ post.link }}" />
        <meta itemprop="category" content="{{ product.category }}">
        <meta itemprop="sku" content="{{ product.SKU }}">

        <aside class="vmw__single__product__aside p-3">
            {% do action('vmw_before_single_product_image') %}
            <figure class="vmw__single__product__figure text-center">
                <img src="{{ post.thumbnail.src('shop_single') }}" alt="{{ post.title }}" class="vmw__single__product__image" itemprop="image" />
            </figure>
            {% do action('vmw_after_single_product_image') %}
        </aside>
        <main class="vmw__single__product__main">
            <header class="vmw__single__product__header" id="single_product_header_{{ post.id }}">
                <h1 class="vmw__single__product__header__title" id="single_product_title_{{ post.id }}" itemprop="name">
                    {{ post.title }}
                </h1>
                <p>{{ __('Verkoop door:', 'vmw') }} <span class="text-primary">{{ vendor.name }}</span></p>
            </header>
            {% do action('vmw_before_single_product_summary') %}
            <div class="summary entry-summary">
                <span itemprop="description">
                    {{ post.content }}
                </span>
                {% include ["templates/woocommerce/partials/single-attributes.twig"] %}
            </div>
            {% do action('vmw_after_single_product_summary') %}
        </main>
        {# This includes the right sidebar #}
        {% include ["templates/woocommerce/partials/single-sidebar.twig"] with { product: product } %}
        <section class="vmw__single__product__related my-3 text-center">
            <h4>{{ __('Alternatieven', 'vmw' ) }}</h4>
            <div class="row">
                {% include "templates/woocommerce/partials/single-related.twig" with { current: post } %}
                {% for prod in related_products %}
                    {% include "templates/woocommerce/partials/single-related.twig" with { current: prod } %}
                {% endfor %}
            </div>
        </section>
        <section class="vmw__single__product__cards">
            <!-- Current vendor -->
            {% include ["templates/woocommerce/partials/tease-vendor.twig"] %}
        </section>
        <script type="application/ld+json">
            {
                "@context": "https://schema.org", "@type": "Offer", "@id": "{{ post.link }}", "price": "{{ product.price }}", "priceCurrency": "EUR", "availability": "https://schema.org/InStock"
            }
        </script>
    </article>
    {% do action('woocommerce_after_single_product') %}

{% endblock  %}
