{% do action('vmw_before_single_attributes') %}

<div class="row">
    <div class="col-md-6">
        <table>
            <tr class="border-bottom">
                <th class="p-1">
                    <figure>
                        <img src="{{ fn('get_field', 'icoon_land', 'option')['url'] }}" alt="{{ curr_prod.get_attribute('pa_land') }}" />
                    </figure>
                </th>
                <td>
                    {{ product.get_attribute( 'pa_land' ) }}
                </td>
            </tr>
            <tr class="border-bottom">
                <th class="p-1">
                    <figure>
                        <img src="{{ fn('get_field', 'pa_druif', 'option')['url'] }}" alt="{{ curr_prod.get_attribute('pa_druif') }}" />
                    </figure>
                </th>
                <td>
                    {{ product.get_attribute( 'pa_druif' ) }}
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table>
            <tr class="border-bottom">
                <th class="p-1">
                    <figure>
                        <img src="{{ fn('get_field', 'icoon_jaar', 'option')['url'] }}" alt="{{ curr_prod.get_attribute('pa_jaar') }}" />
                    </figure>
                </th>
                <td itemprop="releaseDate">
                    {{ product.get_attribute( 'pa_jaar' ) }}
                </td>
            </tr>
            <tr>
                <th class="p-1">
                    <figure>
                        <img src="{{ fn('get_field', 'icoon_smaak', 'option')['url'] }}" alt="{{ curr_prod.get_attribute('pa_smaak') }}" />
                    </figure>
                </th>
                <td>
                    {{ product.get_attribute( 'pa_smaak' ) }}
                </td>
            </tr>
        </table>
    </div>
</div>
