<aside class="vmw__single__product__order bg-tertiary-light-50 p-2">
    {% do action('vmw_before_single_product_price') %}
    <span class="vmw__single__product__price text-primary">
        &euro; {{ product.get_price() }}
    </span>
    {{ fn('the_wc_single_stock', product.get_id()) }}
    {{ fn('the_wc_single_vendor', product.get_id()) }}
    {{ product.get_id|apply_filters('product_form_add_to_cart') }}
    {{ fn('the_wc_usp') }}
</aside>