<article class="vmw__single__product__vendor__container p-1 mb-2 text-center">
    <section class="vmw__single__product__vendor__content">
        <h3>
            Online wijn bestellen van <a href="{{ fn('get_term_link', vendor.term_id) }}" class="text-dark">{{ vendor.name }}</a>
        </h3>
        <p class="vmw__single__product__vendor__text">
            {{ vendor_data.profile|excerpt(30) }}
        </p>
        <a class="btn bg-primary p-2 d-inline-block text-white" href="{{ fn('get_term_link', vendor.term_id) }}" title="Bekijk meer wijnen van {{ vendor.name }}">
            Bekijk het assortiment
        </a>
    </section>
    {#<figure class="vmw__single__product__vendor__figure">#}
        {#<img src="{{ fn('wp_get_attachment_image_url', vendor_data.logo, 'medium' )}}" alt="{{ vendor.name}}" class="vmw__single__product__vendor__logo">#}
    {#</figure>#}
</article>