{# post en product zijn beschikbaar #}

<article class="vmw__recently__visited__container border border-tertiary-light-50 p-1">
    <h3 class="product__card__title">
        <a href="{{ fn('get_permalink', post.ID) }}">
            {{ post.title }}
        </a>
    </h3>
    <figure class="vmw__recently__visited__figure">
        <a href="{{ fn('get_permalink', post.ID) }}">
            <img src="{{ fn('get_the_post_thumbnail_url', post.ID, 'medium') }}" alt="{{ post.title }}" class="vmw__recently__visited__image">
        </a>
    </figure>
    <section class="vmw__recently__visited__content">
        {{ product.get_price() }}
    </section>
</article>
