{# This is the twig base file. Edit this for your needs. Or create a new layout to extend from. #}
{% block base_head_container %}
    {% include 'templates/layouts/helpers/base-head.twig' %}
{% endblock %}
{% block base_wp_title %}
    <title>{{ wp_title }}</title>
{% endblock %}
{{ function('wp_head') }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/TarekRaafat/autoComplete.js@3.2.2/dist/css/autoComplete.min.css">
<script src="https://cdn.jsdelivr.net/gh/TarekRaafat/autoComplete.js@3.2.2/dist/js/autoComplete.min.js"></script>
{% block head %}
    {# It is possible to overwrite this block and add custom code to the head #}
{% endblock %}
<style>
    #zoekresultaten {
        position: absolute;
        top: 100%;
    }
</style>
</head> {# Opened in base-head.twig #}

{# Base body. Overwrite where needed. #}
<body {{ fn('body_class') }} data-template="base.twig" id="body_{{ function('get_queried_object_id') }}">
    <!--suppress HtmlUnknownAnchorTarget -->
    <a class="skip-link screen-reader-text" data-template="base.twig" href="#content">
        {{ _e( 'Skip to content', 'badubed') }}
    </a>
    <header {{ fn('header_class') }} data-template="base.twig" id="header_{{ function('get_queried_object_id') }}">
        {% block header %}
            {% include 'templates/layouts/helpers/base-header.twig' %}
        {% endblock %}
        {% block base_navbar %}
            {% include 'templates/layouts/helpers/base-navigation.twig' %}
        {% endblock %}
    </header>
    <main  id="content_{{ fn('get_queried_object_id') }}" {{ fn('post_class', 'main') }} data-template="base.twig">
        <div id="app">
            {% block content %}
                <!-- This will be overwritten by the content block in the inheriting .twig file -->
            {% endblock %}
        </div>
    </main>
    <footer id="footer_{{ function('get_queried_object_id') }}" {{ fn('footer_class') }} data-template="base.twig">
        {% block footer %}
        {# This can also be overwritten #}
            {% include 'templates/layouts/helpers/base-footer.twig' %}
        {% endblock %}

        {{ function('wp_footer')}}
    </footer>
<script>
    new autoComplete({
        data: {
            src:["100 Monta\u00f1as Albar\u00edn blanco","Monasterio Corias Guilfa","Muscadet S\u00e8vre et Maine - Les 2 Terres-","Morisfarms Mandriolo Rosso","Morisfarms Avolltore","Domainte Glantenet Haute Cotes de Beaune","Glantenet Haute Cotes de Nuits","Glantenet Aligote","Saupin muscadet sur lie 'Sevre et maine","Garennes Saumur Blanc","Domaine des Garennes Cabernet D'Anjou","Garennes Saumur Blanc Empreinte","Kogl Rubellus Ros\u00e9","Kogl Primus Inter Pares","Kogl Victus","Travaglino Pernero","Travaglino Ramato","Travaglino Campo dei Ciliegi Barbera","Hlebec Revolution","Hlebec Illuminati","Kogl Renski Rizling","Hlebec Blanc des Templiers","Hlebec Amore","Hlebec Furkl","Hlebec Blanc de Bonaparte","Krajnc Ros\u00e9","Krajnc Laski Rizling","Domaine des Garennes Cremant de Loire Blanc","Garennes Cremant de Loire Ros\u00e9","Baron de Filar Crianza","Baron de Filar Reserva","Baron de Filar Verdejo","Carpinus Tokaji Furmint","Carpinus Tokaji Asz\u00fa 5 Puttonyos","Carpinus Tokaji Furmint Late Harvest","Carpinus Tokaji H\u00e1rslevelu","Carpinus Tokaji Furmint Grand Reserve","Balatonbogl\u00e1ri Esti-k\u00e9k","IKON 1199 Kir\u00e1lyok","IKON Shiraz","IKON Tulip\u00e1n","Lellei Kadarka","Szekszardi Bikav\u00e9r","Sinai Cabernet Franc","Sina\u00ef Cabernet Sauvignon","Espargueira Red Selection","C\u00f4tes de Brouilly 2016 Domaine les Roches Bleues","Domaine de la Creuze Noire Macon Villages","Domaine de la Creuze Noire Saint-V\u00e9ran","Domaine de Rotisson Beaujolais blanc cuv\u00e9e Nature des Pierres Dor\u00e9es","Domaine de la Creuze Noire Pouilly Fuiss\u00e9","Ch\u00e2teau de Lavernette Granit Brut Nature","Morisfarms Santa Chiara Bianco","Garennes Ros\u00e9 de Loire","Baden Sp\u00e4tburgunder Ros\u00e9 Trocken","Ahr Fr\u00fchburgunder","Picpoul de Pinet -Les Flamants-","Robeal La Capilla verdejo","Mas Rod\u00f3 Merlot","Mas Rod\u00f3 Cabernet Sauvignon","Mas Rod\u00f3 Riesling","Mas Rod\u00f3 Merlot MAGNUM","Mas Rod\u00f3 Cabernet Sauvignon MAGNUM","Rivaner Riesling Sekt","Quinta da Lapa Merlot","Nana Reserva","Quinta da Lapa Touriga Nacional","Quinta da Lapa Sauvignon Blanc","Garennes Saumur Rouge le Brossay","Artajona blanca Chardonnay-Viura","Glantenet Haute Cotes de Nuits Rouge","Costi\u00e8res de N\u00eemes -Malacasca","Vin de Pays du Val de Loire -Le Pas Rouge-","Bergon sauvignon-blanc","Barbera del Monferrato","Dolcetto d'Ovada","Marsenca, Piemonte Cortese","Comte de Bergon, Blanc","Comte de Bergon, Ros\u00e9","Comte de Bergon, Rouge","Gavi di Gavi","Bergon chardonnay","Campechano Air\u00e9n","Saint-V\u00e9ran Vielles Vignes, Domaine Rivet","Bergon syrah","M\u00e2con-Charnay, Cave Charnay-les-M\u00e2con","Saint-V\u00e9ran, Cave les-M\u00e2con-Charnay","Bergon grenache","Palestra Rueda Verdejo","Cava Brut, Planas Albareda","Campechano Verdejo","Los Galanes Sauvignon Blanc-Macabeo","Calvente Xate-O","Calvente Guindalera Tinto","Veleta Nolad\u00f3s","Garcia de Verdevique Tinto joven","Garcia de Verdevique Tinto Crianza","Fuente Victoria Sulayr","Calvente Laguin-da","Veleta Cabernet Sauvignon Roble","Mendez Moya Tinto","Veleta vijiriega","Calvente Guindalera Blanco","Fuente Victoria Syrah","Red La Sima tempranillo","Pio del ramo Vi\u00f1a Betola Wit (Cat wine)","Se\u00f1orio de Nevada Cabernet-Merlot (Brons)","Se\u00f1orio de Nevbada Syrah-Merlot (Zilver)","Se\u00f1orio de Nevada Blanco","Pagos de Indalia Flor de Indalia","Senda de las Rochas Bobal Roble","Pio del Ramo Pio Eco monastrell","Dominio de Ontur Syrah-Monastrell","Dominio de Ontur Patre","R\u00e9gni\u00e9  Vin Sauvage \u00e1 Poil","Vin Nature \u00e1 Butiner Beaujolais Villages","Beaujolais Imperial Ros\u00e9 Domaine Romy","Ch\u00e2teau de Lavernette Cr\u00e9mant de Bourgogne","Ch\u00e2teau de Lavernette Pouilly Fuiss\u00e9","Fleurie 2015 Domaine Gilles Cop\u00e9ret","Fleurie Domaine de la Bouroni\u00e8re","Du Toitskloof Pinotage Ros\u00e9","Boplaas Cape Tawny","Boplaas The Chocolate Cape Vintage 2015","Du Toitskloof Chenin Blanc","Du Toitskloof Chardonnay","Du Toitskloof Cabernet Sauvignon","Du Toitskloof Dimension","Boplaas Red Dessert","Boplaas Muscadel","Loescher Bremmer Calmont","Bachero","Baden Grauburgunder Kabinett Trocken","Baden Rivaner Trocken","Sauvignon blanc, Gebr. Ludwig","Grauburgunder barrique, Gebr. Ludwig","Argument, Heretat de Taverners","Graciano, Heretat de Taverners","Grauburgunder, Winkler-Hermaden bio","Gew\u00fcrztraminer, Winkler-Hemaden","Riesling Petersbuckel, Wilhelmshof","Riesling Krone, Tesch","Riesling Sekt Extra Brut, Wilhelmshof","Weisser Burgunder Im Sonnenschein, Wilhelmshof","Silvaner Gutswein, Hans Wirsching","Scheurebe Alte Reben, Iph\u00f6fer Kronsberg 1e Lage, Hans Wirsching","Deep blue blanc de noir, Tesch","Papa Riesling, Meine Freiheit","Ridgeback Vansha","Ridgeback Vansha Farming Viognier","Ridgeback Shiraz","Balgownie Estate Cabernet Sauvignon","Balgownie Estate Shiraz","Calabria Estate 3Bridges Shiraz","Schwarzb\u00f6ck Grauburgunder Reserve","Calabria Estate 3Bridges Cabernet Sauvignon","Calabria Estate Franseco Grand Tawny","Rechsteiner Manzoni Bianco","Rechsteiner Chardonnay","Rechsteiner Carmenere","Castelforte Pinot Grigio","Ridgeback Lion Hound White","Cantine Riondo Collezione Soave Spumante Brut","Cantine Riondo Frizzante Pink","Casa Lunardi Chardonnay","Quinta de Aves Ros\u00e9","Quinta de Aves Badia","Quinta de Aves Noctua Ensamblaje","Paladin Agricanto","Domaine de Menard  Connoisseur Le Cheval Marin","Roter Veltliner","Mission Estate  Reserve Malbec","Tenute Silvio Nardi Brunello di Montalcino","Bodegas del Medievo Tuerce Botas Tempranillo Blanco","El Escoces Volante Papa Luna","Alsace Sylvaner","Selection branco","Alvarinho","Gr\u00fcner Veltliner 'Selektion'","Zweigelt 'Selektion'","Riesling 'Selektion'","Riesling 'Selektion'","Nana Branco","Anselma Giacomo - Barolo Collaretto DOCG 2011","Franco Boasso - Roero Arneis DOCG 2018","Germano Ettore - Langhe \"Herzu\" DOC 2017","Cagliero - Langhe Bianco \"RABEL\" DOC 2016","Anselma Giacomo - Dolcetto d'Alba DOC 2017","Cagliero - Dolcetto d'Alba \"Nonna Marcellina\" DOC 2016","Anselma Giacomo - Barbera d'Alba DOC 2017","Luigi Pira - Barolo Serralunga DOCG 2014","Anselma Giacomo - Langhe Nebbiolo DOC 2016","Luigi Pira - Barbera d'Alba Superiore DOC 2016","Luigi Pira - Langhe Nebbiolo DOC 2016","Mazzini - Langhe Rosso DOC 2017","Cagliero - Langhe Nebbiolo \"Canebbio\" DOC 2013","Lacrau reserva","Solar dos Lobos Exclusive Collection Blanco","Solar dos Lobos Exclusive Collection Tinto","Champagne Moutardier - Carte d'Or Brut 75cl","Champagne Moutardier - Carte d'Or Brut 37,5cl","Champagne Moutardier - Cuv\u00e9e Ros\u00e9e 75cl","Auxerrois","Dornfelder","Edition Z","Spaetburgunder","Givry Rouge 1er Cru 2017","Hautes Cotes de Beaune Rouge 2017","Bourgogne Pinot Noir 2017","Bourgogne Chardonnay 2015","Bouzeron 2016","Porta da Ravessa Reserva Tinto","Porta da Ravessa Reserva Blanco","C\u00f3dega do Larinho","AR Triplo","Ridgeback Lion Hound Red","Waris Hubert Champagne Lilyale","Balsamino Marche Rosso IGT Vini Venturi","Champagne Moutardier - Mill\u00e9sim\u00e9 2008 75cl","Champagne Moutardier - Cuv\u00e9e Ros\u00e9e 37,5cl","Champagne Moutardier - Pure Meunier Brut Nature 75cl","Feravino Francesca Brut","Feravino Grasecco Brut","Madirazza Po\u0161ip","PP Orahovica Gra\u0161evina","Squarciafico Marche rosso IGP Vini Venturi","Vina Cari\u0107 Bogdanju\u0161a","Pasqua Romeo & Juliet Passimento Bianco","Tradi\u00e7\u00e3o Boal 2015","Qudi Verdicchio dei Castelli di Jesi Classico Superiore DOCG Vini Venturi","Castelforte Corvina Veronese","Paladin Malbech Gli Aceri","Terroir Margaux","Desiderio Marche Bianco Vini Venturi","Morellino di Scansano DOCG","PX Dry, barrel fermented","Arinto","Weisser Burgunder Muschelkalk","Iuris Tempera","PZ Svir\u010de Hadrian Pro\u0161ek","Feravino Dika Zweigelt","Feravino Dika Ros\u00e9","PP Orahovica Frankovka Ros\u00e9","Feravino Grasecco Extra Brut","PZ Svir\u010de Plavac","Vina Cari\u0107 Jubo'v","Vina Cari\u0107 Plovac Plo\u0161ki","Kabola Mu\u0161kat Momjanski","Kabola Malvazija","PP Orahovica Gra\u0161evina Premium","Etna Bianco DOC Benanti","Etna Rosso DOC Benanti","Cerasuolo di Vittoria DOCG Avide","Cirneco, Etna Rosso DOC (Cru)","Barocco, Cerasuolo di Vittoria Classico DOCG (Cru)","Maria Stella, Insolia IGT","Frappato 1607, Frappato IGT","Nerello Cappuccio IGT (monovitigno)","Cuvee brut chardonnay 36 month","La Rusticana, Malvasia IGT","Argentinie","Australie","Bulgarije","Chili","Duitsland","Frankrijk","Griekenland","Itali\u00eb","Nederland","Nieuw-Zeeland","Oostenrijk","Portugal","Sloveni\u00eb","Spanje","Zuid-Afrika","Zwitserland","Hongarije","Kroati\u00eb","Niet bekend","abbuoto","abouriou","abrusco","agiorgitiko","air\u00e9n","albalonga","aleatico","alicante bouschet","aligot\u00e9","altesse","alvarinho","amigne","arneis","arrufiac","athiri","auxerrois blanc","bacchus","baco blanc","baco noir","barbera","baron","blauburger","blaufr\u00e4nkisch","bobal","bonarda piemontese","b\u00edborkadarka","cabernet cortis","cabernet franc","cabernet sauvignon","cainho branco","carignan","carm\u00e9n\u00e8re","catarratto bianco","catawba","chardonnay","chasselas blanc","chatus","chenin blanc","cinsault","clairette","colombard","cserszegi f\u0171szeres","c\u00e9sar","dolcetto","dornfelder","dunkelfelder","duras","durif","early burgundy","elbling","favorita","fer servadou","folle blanche","furmint","gamaret","gamay","garganega","gew\u00fcrztraminer","grechetto","grenache blanc","grenache noir","gros-manseng","gr\u00fcner veltliner","humagne blanche","h\u00e1rslevel\u0171","inzolia","irsai oliv\u00e9r","isabella","johaniter","juhfark","juran\u00e7on","kadarka","kerner","kir\u00e1lyle\u00e1nyka","knipperl\u00e9","k\u00e9knyel\u0171","lambrusco","len de l'el","leon millot","lladoner pelut","madeleine royale","malbec","marechal foch","marsanne","mauzac blanc","melon de bourgogne","merlot","merlot blanc","meunier","morio-muscat","mourv\u00e8dre","muscadelle","muscat","muscat bailey a","muscat bleu","m\u00fcller-thurgau","nebbiolo","nero d'avola","n\u00e9grette","olaszrizling","ortega","parellada","petit verdot","petit-manseng","petite arvine","picolit","picpoul blanc","picpoul noir","pinot blanc","pinot gris","pinot meunier","pinot noir","pinotage","plavac mali","pressac","prior","procanico","prosecco","regent","ribier","rieslaner","riesling","rondo","roussanne","roussette","royalty","sagrantino","salom\u00e9","sangiovese","sankt of saint laurent","sauvignon blanc","scheurebe","schiava grossa","seyval blanc","solaris","sylvaner","syrah","s\u00e9millon","tannat","tauberschwarz","tempranillo","terret blanc","terret gris","terret noir","timorasso","tinta barroca","tinta francisca","tinto c\u00e3o","torront\u00e9s","touriga franca","touriga nacional","tressot","tur\u00e1n","ugni blanc","verdejo","verdicchio","vermentino","vidal blanc","viognier","vitura","vroege van der laan","zala gy\u00f6ngye","zala gy\u00f6ngye (perle von zala)","zierfandler","zinfandel","zweigelt","\u00f6k\u00fczg\u00f6z\u00fc","maturana blanca","maturana tinta","monastel de rioja","albar\u00edn blanco","albar\u00edn tinto","palomino fino","rufete blanco","rufete","garnacha","mencia","carrasqu\u00edn","malvar","albillo-moscatel de grano menudo","cartoxia","moscatel de grano menudo","mand\u00f3","trebbiano","ansonica","grolleau","babi\u0107","crljenak","po\u0161ip","mare\u0161tina","bogdanu\u0161a","vugava","moslavac","soml\u00f3","sopron","szeksz\u00e1rd","k\u00e9kfrankos","aragones","fr\u00fchburgunder","cortese","grenache gris","macabeo","xarello","bonarda","malvasia","vijiriega","muskaat alexandrie","jaen blanco","graciano","Niet bekend","Shiraz","manzoni","corvina","corvinone","rondinella","pinot grigio","soave","roboso","tai rosso","pedro ximenez","wagram","arinto","azal","trajadura","avesso","monastrell","gavi","moscato","brachetto","croatina","trincadeira","fern\u00e3o pires","grauburgunder","weissburgunder","auxerrois","spaetburgunder","Gra\u0161evina","Istarska Malvazija","Frankovka","Traminac","Mu\u0161kat Momjanski","Vranac","Teran","Silvanac Zeleni","montepulciano","Carricante","nerello mascalese"]
        },    // Data src [Array, Function, Async] | (REQUIRED)
        placeHolder: "Zoeken",     // Place Holder text                 | (Optional)
        selector: "#autoComplete",           // Input field selector              | (Optional)
        threshold: 0,                        // Min. Chars length to start Engine | (Optional)
        searchEngine: "strict",              // Search Engine type/mode           | (Optional)
        resultsList: {                       // Rendered results list object      | (Optional)
            container: source => {
                resultsListID = "zoekresultaten";
                return resultsListID;
            },
            destination: document.querySelector("#autoComplete"),
            position: "afterend"
        },
        resultItem: (data, source) => {        // Rendered result item            | (Optional)
            return `${data.match}`;
        },
        highlight: true,                       // Highlight matching results      | (Optional)
        maxResults: 5,                         // Max. number of rendered results | (Optional)
        onSelection: feedback => {             // Action script onSelection event | (Optional)
            console.log(feedback);
        }
    });
</script>
</body>
</html>
