<div class="header__container__super bg-tertiary-light-50 d-none d-lg-block" data-template="helpers.header.header-header.twig">
    <div class="container d-flex">
        <section class="header__bar__left text-dark d-inline-flex align-items-center">
            <span class="mr-2">
                <i class="fas fa-truck"></i> Gratis verzenden > &euro;70,-
            </span>
            <span>
                <i class="far fa-clock"></i> Snel bezorgd
            </span>
        </section>
        <section class="header__bar__right text-dark ml-auto">
            <a href="/contact/" class="mr-2 text-dark">
                <i class="fas fa-phone mr-1"></i> {{  __( 'Klantenservice', 'vmw' ) }}
            </a>
            {{  fn('the_login_or_my_account_button') }}
            <span  class="vmw__gradient__background__left pointer p-2 d-inline-block text-white js-active-shopping-cart">
                {{ fn('the_wc_shopping_cart') }}
            </span>
        </section>
    </div>
</div>

<div class="bg-tertiary-light-50 d-md-none">
    <a  class="vmw__gradient__background__left pointer p-2 d-inline-block text-white w-100" href="{{ fn('wc_get_cart_url') }}">
        {{ fn('the_wc_shopping_cart') }}
    </a>
</div>

{{ fn('the_big_shopping_cart') }}
